.highlight {
    color: #818CF8;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6rem;

    font-size: 3rem;
    font-weight: 700;
}

@media (min-width: 1080px) {
    
}