input {
    width: 80px;
    height: 30px;
    border-radius: 8px;

    border: 2px solid rgb(0, 75, 150);
    color: #fff;

    cursor: pointer;
}

input:disabled {
    border: 2px dashed rgba(63, 63, 70, 0.20);
    background: rgba(63, 63, 70, 0.20);
    color: #36363a66;

    cursor: auto;
}

.unchecked {
    border: 1px solid #366738;
    background: #739a7f;
}

.checked {
    border: 1px solid #4F46E5;
    background: #818CF8;
}