.containerNumberButtons{
    max-height: 20rem;
    overflow-y: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.containerSale{
    @media screen and (min-width: 769px){
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: 32px;
    }
}